* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol, dl,
pre {
	margin-bottom: 0.5em;
}

ul, ol {
	margin-left: 1em;
	list-style-position: outside;
}

fieldset {
	padding: 5px;
}

.collection {
	float: left;
	margin-right: 1em;
}

.policy dt,
.policy dd ul {
	clear: left;
}

.policy dt {
	float: left;
	margin-right: 1em;
	font-weight: bold;
}

.ui-dialog textarea {
	width: 90%;
}

#settings {
	float: right;
}
