/* dialog */

.ui-dialog-titlebar {
	cursor: pointer; /* draggable handle */
}

.ui-dialog {
	overflow: hidden; /* fixes contents' position -- XXX: why? */
	border: 1px solid #000;
	padding: 5px;
	background-color: #FFF;
}

.ui-dialog-titlebar {
	margin: -5px -5px 5px -5px;
	border-bottom: 1px solid #AAA;
	padding: 5px;
	font-weight: bold;
	background-color: #EEE;
}

.ui-dialog-titlebar-close {
	float: right;
	width: 13px;
	height: 12px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABHNCSVQICAgIfAhkiAAAAGtJREFUKJGtkUEOgCAMBAefYjjDl+Bl+CX9EF5KrEUSMfbUbnayLTi/emZrmSb+ghJQgSBzkDlpkzM3VdVnoGjvKCmqvgz0DjokQVcWfQgFk9ASgxYstJuEJ72DmjECG9ctt5Xt672qT597Am8bDy5CvcEuAAAAAElFTkSuQmCC");
}

.ui-dialog-titlebar-close span {
	display: none;
}

/* resizable */

.ui-resizable-handle {
	position: absolute;
	width: 5px;
	height: 5px;
	cursor: crosshair;
}

.ui-resizable-n,
.ui-resizable-s {
	width: 100%;
}

.ui-resizable-e,
.ui-resizable-w {
	height: 100%;
}

.ui-resizable-n,
.ui-resizable-ne,
.ui-resizable-e,
.ui-resizable-w,
.ui-resizable-nw {
	top: 0;
}

.ui-resizable-ne,
.ui-resizable-e,
.ui-resizable-se {
	right: 0;
}

.ui-resizable-se,
.ui-resizable-s,
.ui-resizable-sw {
	bottom: 0;
}

.ui-resizable-n,
.ui-resizable-s,
.ui-resizable-sw,
.ui-resizable-w,
.ui-resizable-nw {
	left: 0;
}

.ui-resizable-n {
	cursor: n-resize;
}
.ui-resizable-ne {
	cursor: ne-resize;
}
.ui-resizable-e {
	cursor: e-resize;
}
.ui-resizable-se {
	cursor: se-resize;
}
.ui-resizable-s {
	cursor: s-resize;
}
.ui-resizable-sw {
	cursor: sw-resize;
}
.ui-resizable-w {
	cursor: w-resize;
}
.ui-resizable-nw {
	cursor: nw-resize;
}
